/* FONT IMPORTS */

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v29/6xKtdSZaM9iE8KbpRA_hK1QNYuDyPw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

  @font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/quicksand/v29/6xKtdSZaM9iE8KbpRA_hK1QNYuDyPw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

/* RESET */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.App {
  width: 100%;
}

/* HEADER */

.App-header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 4;
}

/* SEARCH BAR */

#searchform {
  font-family: Quicksand;
  position: relaive;
  text-align: left;
  width: 100%;
  font-size: 3rem;
  min-height: 3rem;
  padding: 2rem;
  color: white;
  background-color: black;
  overflow: hidden;
}

#searchform label:hover {
  cursor: pointer;
}

#searchLabel::before {
  content: '';
  position: absolute;
  top: 5.5rem;
  left: 2rem;
  height: .4rem;
  width: 0;
  background-color: orange;
  transition: 1s all;
}

#searchLabel:hover::before{
  width: 24rem;
}

#searchform #search {
  font-family: Quicksand;
  font-size: 3rem;
  background-color: black;
  border: none;
  outline: none;
  color: orange;
  width: auto;
}

/* SHORTCUT BAR */

.navigation-shortcuts {
  position: relative;
  width: 100%;
  height: 4rem;
  background-color: orange;
  z-index: 20;
}

.navigation-shortcuts ul {
  height: 100%;
  width: 70%;
  display: flex;
  align-items: center;
  padding-left: 2rem;
}

.navigation-shortcuts ul li {
  display: inline;
  padding: 0 10% 0 0;
  list-style: none;
}

/* SHORTCUT ICONS */

.shortcut-icon {
  height: 2.5rem;
  min-width: 2.5rem;
  position: relative;
  display: grid;
  place-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  transition: .5s all;
}

.active-icon {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

#ghosts {
  background-image: url("./images/icons/Ghost.png");
}

#aliens {
  background-image: url("./images/icons/alien.png");
}

#ufo {
  background-image: url("./images/icons/UFO.png");
}

#bigfoot {
  background-image: url("./images/icons/Bigfoot.png");
}

#cryptids {
  background-image: url("./images/icons/Cryptid.png");
}

#telekinesis {
  background-image: url("./images/icons/Telekinesis.png");
}

/* FILTER RESULTS BAR */

#filterResults {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 2rem;
  background-color: #222222;
  color: white;
  font-size: 2rem;
  font-family: Quicksand;
  min-height: 2rem;
  box-shadow: 4px 0 10px #333333;
  z-index: 5;
}

#filterLabel {
  margin-right: 1rem;
}

#filterInput {
  background-color: #222222;
  border: none;
  outline: none;
  font-size: 2rem;
  color: orange;
}

/* MAIN */

#App-main-content {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ARTICLES */

#articles {
  width: 100%;
  display: grid;
  place-items: center;
}

article {
  position: relative;
  display: grid;
  place-items: center;
  background-color: #333333;
  color: white;
  border-radius: 20px;
  padding: 2rem;
  box-shadow: none;
  margin: 1rem .5rem;
  min-height: 16rem;
  width: 75%;
  text-align: center;
  transition: .5s all;
}

article:hover {
  cursor: pointer;
  width:80%;
  box-shadow: 0 0 1rem #000000EE;;
}

article h3 {
  position: relative;
  text-align: center;
  width: 100%;
  margin: 1.5rem;
  font-size: 1rem;
  color: white;
  transition: 1s all;
}

/* EXPAND TEXT BAR */

.expand-text {
  position: absolute;
  bottom: -0.5rem;
  justify-self: center;
  color: #333333;
  font-size: 2rem;
  font-family: Quicksand;
  z-index: 5;
  opacity: 0;
  transition: .5s all;
}

article:hover .expand-text {
  opacity: 1;
}

article::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: orange;
  height: 3rem;
  width: 0;
  opacity: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: 1s all;
}

article:hover::after {
  width: 100%;
  opacity: 1;
}


/* LINK TO REDDIT */

.redditLink {
  position: absolute;
  right: 0;
  top: 20%;
  display: grid;
  place-items: center;
  text-decoration: none;
}

.to-reddit {
  position: absolute;
  display: grid;
  place-items: center;
  background-color: orange;
  height: 4rem;
  width: 4rem;
  border-radius: 2rem;
  transition: .5s all;
}

.to-reddit:hover{
  right: -3rem;
  width: 12rem;
  height: 6rem;
  border-radius: 3rem;
}

.to-reddit::before {
  content: '';
  position: absolute;
  width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;
  background-color: white;
  background-image: url('./images/reddit-face.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  transition: .5s all;
}

.to-reddit:hover::before {
  background-position: 10% 50%;
  background-size: 40%;
  width: 11rem;
  height: 5rem;
  border-radius: 2.5rem;
}

.to-reddit::after {
  content: 'to Reddit!';
  color: orange;
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
  position: absolute;
  opacity: 0;
  transition: .5s all;
}

.to-reddit:hover::after {
  opacity: 1;
  text-indent: 5rem;
}

/* ARTICLE REGULAR TEXT */

article > p {
  margin: 1rem;
}